
/* Generic */
body {
  background-color: black;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

header {
  width: 1024px;
  height: 80px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

section {
  width: 1024px;
  min-height: 100px;
  margin: 0 auto;  
  padding: 40px 0;  
  text-align: center;
}

.title-section {
  color: #fa165f;
  font-size: 25px;
}
/* End Generic */

/* Header */
.site-navegation {
  width: 700px;
  height: 40px;
  text-transform: uppercase;
  float: right;
}

.site-navegation li {
  padding: 10px;
}

.site-navegation li:hover {
  border: 1px solid yellow;
  box-sizing: border-box;
}

.site-navegation a {
  color: white;
}

.logo {
  width: 160px;
  height: 600px;
  float: left;
}

.logo img {
  width: 160px;
  height: 60px;
}

.slider {
  background-image: url(./../images/Slider.png);
}

.slider-content {
  height: 520px;
  background-color: #fa165f;
  opacity: 0.6;
}
/* End Header*/

/* Info */
.info-begin {
  padding: 0;
}
/* End Info*/

/*Services*/
.services {
  color: white;
  background-color: #64d6d6;
}

.services .subtitle-section {
  color: #cb7b37;
  font-size: 20px;
}

.services-content {
  padding: 20px;
}

.services-content img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 2px solid white;
}

.title-services-box {
  color: #e28c42;
}

.services-box {
  width: 320px;
  display: inline-block;
  box-sizing: border-box;
}
/*End Services*/

/*Work*/
.work-section {
  background-color: #fdad1a;
}
/*End Work*/