/* Generic */
section {
  border: 1px solid black;
}

.container {
  width: 1024px;
  min-height: 500px;
  margin: 0 auto;
}
/* End Generic */

/* Header */
header {
  height: 80px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  width: 160px;
  height: 600px;
  float: left;
}

.logo img {
  width: 160px;
  height: 60px;
}
/* End Header */

/* Slider */

/* End Slider*/

/* Services*/
.services-box {
  width: 320px;  
  min-height: 300px;
  display: inline-block;
  border: 1px solid black;
}
/* End Services*/

/* Works*/
.works-box {
  width: 330px;
  height: 300px;
  display: inline-block;
  border: 1px solid black;
}
/* End Works*/

/* Footer*/
footer {
  height: 50px;
  background-color: black;
  color: white;
}
/* End Footer*/